.Header {
  height: 80px;
  width: 100vw;
  padding: 10px 0;
  margin-bottom: 15px;
  background-color: #191970;
  display: flex;
  &__field {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box {
    width: 200px;
    font-size: 30px;
    color: #ffffff;
    padding-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  &__Icon {
    display: flex;
  }
  &__Icon--edit {
    color: #FFF;
    font-size: 13px;
    background: #4682b4;
    border-radius: 3px;
    padding: 3px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  &__Icon--user {
    color: #000000;
    font-size: 14px;
    background: #b0c4de;
    margin: 0 15px;
    border-radius: 3px;
    padding: 3px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}