= render "layouts/header"
.Wrapper
  .SideBar
    .ContentsList
      .Content
        = link_to '#' do
          .Content__title
            記事名
          .Content__data
            記事の更新日時

  .MainContents
    .ContentsBox
      .ContetTitle
        タイトル
      .ContentInfo
        .ContentInfo__userName
          ユーザー名
        .ContentInfo__data
          2020/2/2 12:22

