.Wrapper {
  display: flex;
  width: 100vw;
  box-sizing:border-box;
  .SideBar {
    height: 130vh;
    width: 300px;
    padding: 15px;
    margin: 10px;
    background-color: gainsboro;
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    margin-left: 200px;
    .ContentsList {

    }
  }


  .MainArticles {
    height: 300vh;
    width: calc(100vw - 300px);
    padding: 15px;
    margin: 10px;
    background-color: #fafafa;
    box-sizing: border-box;
    overflow: scroll;
    margin-right: 200px;
  }
  .Article-body {
    margin-bottom: 35px;
    &__Title {
    }
  }
}
