.Wrapper {
  display: flex;
  width: 100vw;
  box-sizing:border-box;
  .SideBar {
    height: 80vh;
    width: 300px;
    padding: 15px;
    margin: 10px;
    background-color: gainsboro;
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    margin-left: 200px;
    .ContentsList {

    }
  }

  .MainArticles {
    height: 150vh;
    width: calc(100vw - 300px);
    margin: 10px;
    background-color: #fafafa;
    box-sizing: border-box;
    overflow: scroll;
    margin-right: 200px;
  }
  .Article-body {
    margin-bottom: 13px;
    border-bottom: 1px solid #e8e8e8;
    padding: 15px 15px;
    margin: 0 10px;
    &__Title {
      color: #000000;
      font-size: 18px;
      font-weight: bold;
    }
    &__Info {
      display: flex;
      margin-top: 10px;
      &--userName {
       color: gray;
       margin-right: 12px;
       font-size: 14px;
      }
      &--data {
      color: gray;
       font-size: 14px;
      }
    }
  }
  .url-stile {
    text-decoration: none;
  }

  .tag-table {
    overflow: scroll;
    display: flex;
    .posts__left__group__post-tag {
      margin-top: 3px;
      padding: 0 7px;
      text-align: center;
      display: inline-block;
      min-width: 7%;
    }
    .tag-text {
      padding: 0 7px;
      border-radius: 2px;
      text-decoration: none;
      box-sizing: content-box;
      background-color: gray;
      color: #fff;
      margin-left: 0.2em;
      display: inline-block;
      min-width: 7%;
    }
  }
}
