.Header
  .Header__field
    .Header__box
      Concent
    .Header__Icon
      .Header__Icon--edit
        投稿する
        = link_to '#' do
          = icon('fas', 'edit')
      .Header__Icon--user
        user
        = link_to '#' do
          = icon('fas', 'cog')